.header {
    color: white;
    

    
}

.headerTitel {
    color: white;
    font-size: large;
    margin-right: 8px;
    margin-left: 16px;
    
}

.links {
    text-align: center;
    margin: 8px;
 
}